---
import type { GetStaticPaths } from "astro";
import { getLatestLaunches, getLaunchBy } from "../../services/spacexv5";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params

let launch
if (id) {
  launch = await getLaunchBy ({ id })
}

export async function getStaticPaths() {
  const launches = await getLatestLaunches()

  return launches.map(launch => ({
    params: { id: launch.id },
  }))
}

const lenghtName = launch?.name ? launch.name.length : 0;
const linkYoutube = launch?.links.webcast.slice(32);
const launchStatus = launch?.success ? "Success" : "Failure" 

---

<Layout title={`Launch ${id}`}>
  <a 
    class=" backdrop-blur-3xl rounded px-5 py-3 float-right hover:scale-105"
    href={`/allLaunches/#id-${id}`}
  >
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.5 4.046H9V2.119c0-.921-.9-1.446-1.524-.894l-5.108 4.49a1.2 1.2 0 0 0 0 1.739l5.108 4.49C8.1 12.5 9 11.971 9 11.051V9.123h2a3.023 3.023 0 0 1 3 3.046V15a5.593 5.593 0 0 0-1.5-10.954Z"/>
    </svg>
  </a>
  <article class="flex flex-wrap">
    <header class="flex justify-center align-middle">
      <img
        transition:name=`img-${launch?.name}`
        class="w-[15rem] h-auto" 
        src={launch?.links.patch.large}>
      <p
        transition:name=`name-${launch?.name}`
        class:list={[
        "font-extrabold mx-auto ml-10",
        {
          "text-[5rem]" : lenghtName >= 12,
          "text-[9rem]" : lenghtName < 12
        },
      ]}
      >{launch?.name}</p>
    </header>
    <main 
      transition:name=`main-${launch?.name}`  
    >
      <div class=" font-[1000] flex text-3xl py-[1.5rem]">
        <p>Launch Status:</p>
        <p class:list={[
          "mx-5 rounded-lg py-[1px] px-3",
          {
            "bg-green-400 text-green-900" : launch?.success,
            "bg-red-400 text-red-900" : !launch?.success
          },
        ]}

        >{launchStatus}</p>
      </div>
      

      <iframe 
      class="mx-auto my-[1rem] border-[5px]"
      data-videoid={launch?.links.youtube_id}
      class="embedded-video-large" 
      allowfullscreen="1"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      title=`${launch?.name} video` 
      width="1000" height="600"  
      src={`https://www.youtube.com/embed/${linkYoutube}`}></iframe>
      
      <p class="text-3xl font-[700] py-5">
        {launch?.details ? launch?.details : "No details were provided from SpaceX"}
      </p>

      <div class="text-5xl">
        {launch?.failures.map(failure => {
          <p>
            {failure.altitude ? `Failure altitude: ${failure.altitude}`: null}
            {failure.time ? `Failure time: ${failure.time}`: null}
            {failure.reason ? `Failure reason: ${failure.reason}`: null}
          </p>
        })}
      </div>

    </main>
  </article>
</Layout>


<style>
  body {
    background-image: url(/bg3.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
</style>
