---
import Logo from "./Logo.astro";

import { getRockets } from "../services/spacexv4";
const rocketDocs = await getRockets();
---

<header
  id="landing-header"
  class="py-3 md:px-10 px-0 flex items-center fixed top-0 w-full
  justify-between z-40"
>
  <a href="/" class="flex flex-grow basis-0">
    <Logo />
  </a>

  <nav class="backdrop-blur-3xl">
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 mr-10 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="[&>li>a]:transition-colors [&>li>a]:duration-1000 flex text-lg
        [&>li>a]:text-current [&>li>a]:inline-block
        [&>li>a]:px-4 [&>li>a]:py-2"
      >
        <li>
          <a href="/allLaunches">Launches</a>
        </li>
        {
          rocketDocs.map(({ name, id }) => (
            <li>
              <a href={`/rocket/${id}`}>{name}</a>
            </li>
          ))
        }
        <li>
          <a
            href="/"
            class="block py-2 pl-3 pr-4 text-white rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
            aria-current="page">About</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <div
    id="menu-backdrop"
    class="absolute bg-stone-500 backdrop-blur-xl rounded
  left-[var(--left)] top-[var(--top)]
  w-[var(--width)] h-[var(--height)]
  transition-all duration-300
  ease-in-out opacity-0 -z-10"
  >
  </div>
</header>

<script>
  const listItem = document.querySelectorAll("#landing-header li");
  const menuBackdrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackdrop.style.setProperty("--left", `${left}px`);
      menuBackdrop.style.setProperty("--top", `${top}px`);
      menuBackdrop.style.setProperty("--width", `${width}px`);
      menuBackdrop.style.setProperty("--height", `${height}px`);

      menuBackdrop.style.opacity = "1";
      menuBackdrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackdrop.style.opacity = "0";
      menuBackdrop.style.visibility = "hidden";
    });
  });
</script>
