---
import CardLaunch from "./CardLaunch.astro";

import { getLatestLaunches } from "../services/spacexv5"

const launches = await getLatestLaunches()

---

<div class="grid gap-8 sm:gird-cols-2 lg:grid-cols-3 py-[10rem]">
  {
    launches.map(
      ({id, links, success, flight_number: flightNumber, details, name}) => ( 
        <CardLaunch 
          id = {id}
          img = {links.patch.small}
          success = {success}
          name = {name}
          details = {details}
          flightNumber = {flightNumber}
        />
    ))
  }
  p
</div>

